.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card h2 {
    margin: 10px;
  }
  
  .card p {
    padding: 0 10px 10px 10px;
    color: #666;
  }
  
  .card-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
  }
  
  .edit-link,
  .delete-button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .edit-link {
    background-color: #007bff;
    color: #fff;
  }
  
  .edit-link:hover {
    background-color: #0056b3;
  }
  
  .delete-button {
    background-color: #dc3545;
    color: #fff;
  }
  
  .delete-button:hover {
    background-color: #bd2130;
  }
  .confirm-delete {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .confirm-delete p {
    margin-bottom: 10px;
  }
  
  .confirm-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .confirm-delete-button,
  .cancel-delete-button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .confirm-delete-button {
    background-color: #dc3545;
    color: #fff;
    margin-right: 10px;
  }
  
  .confirm-delete-button:hover {
    background-color: #bd2130;
  }
  
  .cancel-delete-button {
    background-color: #007bff;
    color: #fff;
  }
  
  .cancel-delete-button:hover {
    background-color: #0056b3;
  }