.container-fluid {
    margin: 100px auto;
    max-width: 1200px;
    padding: 0 15px;
  }
  
  .ant-layout {
    background: #fff !important;
  }
  
  .mainLayout .ant-layout-header {
    background: #f8f8f8;
    padding: 0;
    height: auto;
    line-height: 1.6;
  }
  
  p {
    font-size: 16px;
    line-height: 1.6;
  }
  
  .bgGray {
    background: #fafafa;
  }
  
  
  .titleHolder {
    text-align: center;
    position: relative;
    padding: 0 0 20px;
    margin: 0 0 40px;
  }
  
  .titleHolder:after {
    transform: translateX(-50%);
    content: '';
    background: #1890ff;
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 3px;
    width: 50px;
  }
  
  .titleHolder h2 {
    font-size: 40px;
    margin: 0;
  }
  .block {
    padding: 60px 0;
    border-bottom: 1px solid #d9d9d9;
  }
  .faqBlock .ant-collapse {
    margin: 0 0 40px;
  }
  
  .faqBlock .quickSupport {
    text-align: center;
    max-width: 740px;
    margin: auto;
  }
  
  .faqBlock .fas {
    margin: 0 10px 0 0;
  }

  .Panel {
    font-weight: bold;
    text-align: left;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 20px; /* Thêm khoảng cách giữa các panel */
  }
  
  .Panel:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  }
  
  .Panel p {
    font-weight: 400;
    line-height: 2;
    text-indent: 40px;
    margin-top: 0.2em;  
    margin-bottom: 0.2em; 
  }
  
  .Panel-header {
    background-color: #f0f0f0;
    border-bottom: 1px solid #e0e0e0;
    padding: 15px 20px;
    cursor: pointer;
  }
  
  .Panel-header:hover {
    background-color: #e0e0e0;
  }
.Hinhchapter{
  width: 50%;
}
/* Chapter1.css */


.faqBlock .ant-collapse-content > .ant-collapse-content-box {
  padding: 20px;
  text-align: justify;
}

.faqBlock .ant-collapse > .ant-collapse-item {
  border-bottom: none;
}

.faqBlock .ant-collapse-item:last-child {
  margin-bottom: 0;
}
