.aboutBlock .contentHolder {
    text-align: center;
    margin: 0 0 50px;
  }

  .aboutBlock .icon {
    font-size: 40px;
    color: #1890ff;
    margin: 0 0 10px;
  }
  .ant-layout {
    background: #fff !important;
  }
  
  .mainLayout .ant-layout-header {
    background: #f8f8f8;
    padding: 0;
    height: auto;
    line-height: 1.6;
  }
  
  p {
    font-size: 16px;
    line-height: 1.6;
  }
  
  .bgGray {
    background: #fafafa;
  }
  
  
  .titleHolder {
    text-align: center;
    position: relative;
    padding: 0 0 20px;
    margin: 0 0 40px;
  }
  
  .titleHolder:after {
    transform: translateX(-50%);
    content: '';
    background: #1890ff;
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 3px;
    width: 50px;
    
  }
  
  .titleHolder h2 {
    font-size: 28px;
    margin: 0;
  }
  
  
  .container-fluid1 {
    margin: 100px auto;
    max-width: 1200px;
    padding: 0 15px;
  }
  .block {
    padding: 150px 0;
    border-bottom: 1px solid #d9d9d9;
  }
  .aboutBlock .content {
    text-align: center;
  }
  @media screen and (max-width:850px){
    .container-fluid1{
      margin: 4rem 6rem;
    }
}

  