.Gioithieu {
    margin: 4rem 6rem;
}

.Gioithieu h1 {
    font-size: 3rem;
    padding-bottom: 1rem;
    background: linear-gradient(90deg, #00ffff, #ff00c3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Gioithieu p {
    font-size: 1.5rem;
    text-align: center; /* Justify text alignment */
}

.first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
}

.first-text {
    width: 45%;
    text-align: start;
    font-size: 1.3rem;
    margin-bottom: auto;
}

.first-text h2 {
    padding-bottom: 1rem;
    color: blueviolet;
    font-size: 2.5rem;
}

.first-text h3 {
    padding-bottom: 1rem;
    font-size: 1.6rem;
}

.first-text p1 {
    font-weight: bold;
}

.first-text p3 {
    font-weight: bold;
}

.image {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.image img {
    width: 49%;
    height: 350px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}

.image img:nth-child(2) {
    position: absolute;
    top: -10%;
    right: 0;
}

@media screen and (max-width: 850px) {
    .Gioithieu {
        margin: 2rem 2rem; /* Adjusted for smaller screens */
    }
    .first {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2.5rem;
    }
    .first-text {
        width: 100%;
        text-align: justify; /* Ensure text is justified on smaller screens */
    }
    .Gioithieu p {
        font-size: 1.5rem;
        text-align: justify; /* Justify text alignment */
    }
    .image {
        width: 100%;
        margin: 1.8rem 0;
    }
    .image img {
        height: 250px;
    }
    .Gioithieu h1 {
        font-size: 2.5rem; /* Adjusted for smaller screens */
    }
    .Gioithieu p {
        font-size: 1.2rem; /* Adjusted for smaller screens */
    }
    .first-text h2 {
        font-size: 2rem; /* Adjusted for smaller screens */
    }
    .first-text h3 {
        font-size: 1.4rem; /* Adjusted for smaller screens */
    }
}