.NavbarItems {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    width: 100%; /* Full width */
    height: 100px; /* Height of navbar */
    border-radius: 0px;
    position: fixed;
    top: 0; /* Stick to the top */
    left: 0; /* Stick to the left */
    right: 0; /* Stick to the right */
    margin-left: auto; /* Center the navbar */
    margin-right: auto; /* Center the navbar */
    z-index: 9999;
    transition: 0.3s ease;

}
.NavbarItems.solid {
    background-color: rgba(255, 255, 255, 1); /* Chuyển sang màu trắng không trong suốt */
}
.navbar-logo {
    color: #222;
    font-size: 2rem;
    cursor: pointer;
}

.logo {
    height: 85px;
    width: 85px;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(7, auto);
    list-style: none;
    grid-gap: 10px;
    align-items: center;
}

.nav-links {
    text-decoration: none;
    color: #222;
    font-size: 1.2rem;
    padding: 0.7rem 1rem;
    white-space: nowrap;
    font-weight: bold;
    position: relative;
}

.nav-links::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #6d92d0;
    transition: 0.3s;
}

.nav-links:hover::before {
    width: 100%;
}

.nav-links i {
    padding-right: 10px;
}
.avatar-container {
    position: relative;
    cursor: pointer;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover; /* Đảm bảo hình ảnh không bị méo */
    cursor: pointer;
}

.avatar-container.active .dropdown-menu {
    display: block; /* Hiển thị dropdown menu khi phần tử cha có class 'active' */
}
.avatar-container.active li{
    text-align: center;
    font-weight: bold;
}
.dropdown-menu {
    position: absolute;
    top: calc(100% + 10px); /* Hiển thị dropdown menu ngay phía dưới avatar */
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none; /* Ẩn dropdown menu mặc định */
}

.dropdown-menu li {
    list-style: none;
}

.dropdown-menu li a,
.dropdown-menu li button {
    display: block;
    padding: 0.5rem;
    color: #333;
    text-decoration: none;
}

.dropdown-menu li a:hover,
.dropdown-menu li button:hover {
    background-color: #f0f0f0;
}
.nav-links-mobile {
    display: inline-block;
    padding: 0.5rem 1rem;
    white-space: nowrap;
    border-radius: 0.3rem;
    background-color: whitesmoke;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    text-decoration: none; /* Loại bỏ gạch chân mặc định cho liên kết */
}

.nav-links-mobile:hover {
    background-color: black;
    color: #fff;
}

.menu-icons {
    display: none;
}

@media screen and (max-width: 850px) {
    .NavbarItems {
        z-index: 99;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-self: flex-start;
        text-align: center;
        background: #fff;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -100%;
        opacity: 0;
        align-items: stretch;
        padding: 80px 0 30px 0;
        margin: 0;
        transition: 0.3s ease-in-out;
    }

    .nav-menu.active {
        left: 0;
        opacity: 1;
        z-index: -1;
        transition: 0.3s ease-in-out;
    }

    .nav-links {
        display: block;
        width: 100%;
        font-size: 1.2rem;
        padding: 2rem 0;
    }

    .nav-links:hover {
        background: #01959a;
        transition: none;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: auto;
        border-radius: 4px;
        background: #01959a;
        text-decoration: none;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 2px;
    }

    .menu-icons {
        display: block;
        cursor: pointer;
    }

    .menu-icons i {
        font-size: 1.2rem;
        color: #222;
    }

    button.nav-button {
        display: none;
    }
}
