.create-quiz-page {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.title {
  text-align: center;
  color: #2c3e50;
  font-size: 2em;
  margin-bottom: 20px;
}

.quiz-title-form,
.quiz-config,
.question-form {
  background: #ecf0f1;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.quiz-title-form label,
.quiz-config label,
.question-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.quiz-title-form input,
.quiz-config input,
.quiz-config select,
.question-form input,
.question-form textarea,
.question-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  font-size: 1em;
}

.question-form textarea {
  resize: vertical;
}

.add-question-btn,
.save-quiz-btn {
  background: #2980b9;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 10px;
  margin-bottom: 20px;
}

.add-question-btn:hover,
.save-quiz-btn:hover {
  background: #1c5d82;
}

.question-list {
  background: #ecf0f1;
  padding: 20px;
  border-radius: 8px;
}

.question-list h2 {
  margin-top: 0;
  color: #2c3e50;
  font-size: 1.5em;
  text-align: center;
}

.question-list ul {
  list-style-type: none;
  padding: 0;
}

.question-list li {
  background: white;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  position: relative;
}

.question-list li:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.question-list li p {
  margin: 5px 0;
}

.question-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.question-options {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.correct-answer {
  font-weight: bold;
  color: #27ae60;
}

.delete-question-btn {
  background: #e74c3c;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 16px;
  cursor: pointer;
  transition: background 0.3s;
  align-items: center;
  align-self: center;
  font-size: 16px;
  width: 30%;
}

.delete-question-btn:hover {
  background: #c0392b;
}